body {
    margin: 0;
    background-color: #1F2833;
    color: white;
    margin-top: 2%;
    height: 100%;
  }

  .center {
    align-items: center;
    text-align: center;
  }

  .error {
    color: rgb(247, 97, 97);
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
  }

  .image {
    border-radius: 50%;
    opacity: 0.3;
  }
  
  .heading1 {
    margin-left: 35%;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: white;
  }
  
  .heading2 {
    font-family: 'Vina Sans', cursive;
    font-size: 70px;
    margin-left: 40%;
    color:#66FCF1
  }
  
  .App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      border: 1px solid white;
      border-radius: 10px;
      margin-left: 20%;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    outline: none;
  }

  .custom-file-input {
    margin: 0.5rem 0;
    position: relative;
    display: inline-block;
    padding: 1rem;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .custom-file-input input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .button {
    display: block;
    font-size: 25px;
    color: #fff;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
    margin-top: 1%;
    margin-left: 35%;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    max-width: 30%;
  }

  .log-out-button {
    display: block;
    font-size: 25px;
    color: #fff;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
    margin-top: 1px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    max-width: 40%;
  }

  .comment-button {
    display: block;
    font-size: 20px;
    color: #fff;
    background-color: rgb(206, 205, 205);
    border: 1px solid #66FCF1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
    margin-left: 35%;
    margin-top: 0%;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    max-width: 30%;
  }

  .profile-type-button {
    display: block;
    font-size: 25px;
    color: #fff;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
    margin-top: 1px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  .button:hover, .log-out-button:hover, .custom-file-input:hover, .comment-button:hover, .profile-type-button:hover {
    background-color: #45A29E;
    color: #66FCF1;
  }
  
  .link-btn {
    font-family: 'Orbitron', sans-serif;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 1%;
  }

  .profile-btn {
    font-family: 'Orbitron', sans-serif;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 1%;
    margin-left: 30%;
  }
  
  .link-btn:hover, .profile-btn:hover {
    background: none;
    color: #66FCF1;
  }

  .link {
    color: white;
  }

  .none {
    display: none;
  }

  .alert {
    color: rgb(247, 97, 97);
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  .user1 {
    font-family: 'Vina Sans', cursive;
    font-size: 40px;
    color: #66FCF1;
    margin-left: 30%;
  }

  .user2 {
    font-family: 'Orbitron', sans-serif;
    margin-left: 30%;
  }

  .avatar{
    margin-left: 30%;
  }

  .email, .dob {
    width: 10%;
    border-radius: 20px;
  }

  .about {
    width: 10%;
  }

  .avatar-img {
    width: 40%;
    border-radius: 90px;
  }

  .search{
    width: 33%;
  }

  .search-results {
    font-family: 'Orbitron', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }

  .left-container {
    flex: 2;
    padding: 10px;
    margin-right: 5%;
  }

  .middle-container {
    flex: 4;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
  }

  .right-container {
    flex: 2;
    padding: 10px;
  }

  
  .container1 {
    display: flex;
    justify-content: space-between;
  }

  .left-container1 {
    flex: 1;
    margin-left: 30%;
  }

  .left-container2 {
    flex: 1;
  }

  .right-container1 {
    flex: 1;
  }

  .activity {
    font-size: 35px;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }

  .content {
    width: 90%;
    outline:none;
    margin-left: 2%;
  }

  .posting{
    border: 1px solid white;
    padding: 1%;
    padding-right: 2%;
    border-radius: 20px;
    width: 85%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    overflow: auto;
  }

  .posts{
    border: 1px solid white;
    border-radius: 20px;
    width: 80%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    margin-left: 10%;
    overflow: auto;
    background-color: rgb(206, 205, 205);
    color: #1F2833;
    text-align: left;
    padding: 1%;
  }

  .post{
    text-align: center;
  }

  .poster{
    font-weight: bold;
    text-align: left;
    margin-bottom: 0%;
    font-size: 13px;
    margin-left: 2%;
  }

  .post-date{
    font-size: 10px;
    text-align: left;
    margin-left: 3%;
    margin-top: 0%;
  }

  .privacy{
    font-family: 'Orbitron', sans-serif;
    border-radius: 6px;
    outline:none;
    border: none;
    color: #737474;
  }

  .insert{
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
  }

  .nothing{
    text-align: center;
  }
  
  .comment {
    background-color: white;
    width: 86%;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-left: 6%;
    text-align: left;
    padding: 1%;
  }

  .comment-text{
    margin-left: 2%;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .content {
    flex: 1;
  }

  .footer {
    font-family: 'Orbitron', sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 20px;
  }

  .following{
    font-family: 'Vina Sans', cursive;
    margin-top: 10%;
    font-size: 30px;
    color:#66FCF1
  }

  .user{
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    margin-top: 0%;
  }