body {
    margin: 0;
    background-color: #1F2833;
    color: white;
    margin-top: 2%;
  }

  .center {
    align-items: center;
    text-align: center;
  }

  .error {
    color: rgb(247, 97, 97);
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
  }

  .image {
    border-radius: 50%;
    opacity: 0.3;
  }
  
  .heading1 {
    margin-left: 35%;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: white;
  }
  
  .heading2 {
    font-family: 'Vina Sans', cursive;
    font-size: 70px;
    margin-left: 40%;
    color:#66FCF1
  }
  
  .App {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .auth-form-container, .login-form, .register-form {
    display: flex;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
  }
  
  @media screen and (min-width: 600px) {
    .auth-form-container {
      border: 1px solid white;
      border-radius: 10px;
      margin-left: 20%;
    }
  }
  
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    outline: none;
  }

  .custom-file-input {
    margin: 0.5rem 0;
    position: relative;
    display: inline-block;
    padding: 1rem;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .custom-file-input input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .button {
    display: block;
    font-size: 25px;
    color: #fff;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
    margin-top: 1%;
    margin-left: 35%;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    max-width: 30%;
  }

  .log-out-button {
    display: block;
    font-size: 25px;
    color: #fff;
    background-color: #1F2833;
    border: 1px solid #66FCF1;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Vina Sans', cursive;
    margin-top: 1px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    max-width: 40%;
    margin-left:46%
  }
  
  .button:hover, .log-out-button:hover, .custom-file-input:hover {
    background-color: #45A29E;
    color: #66FCF1;
  }
  
  .link-btn {
    font-family: 'Orbitron', sans-serif;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 1%;
  }

  .profile-btn {
    font-family: 'Orbitron', sans-serif;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 1%;
    margin-left: 2%;
  }
  
  .link-btn:hover, .profile-btn:hover {
    background: none;
    color: #66FCF1;
  }

  .link {
    text-decoration: none;
  }

  .none {
    display: none;
  }

  .alert {
    color: rgb(247, 97, 97);
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  .user1 {
    margin-left: 2%;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: white;
  }

  .user2 {
    font-family: 'Orbitron', sans-serif;
    margin-left: 2%;
  }

  .avatar {
    margin-left: 2%;
  }

  .email, .dob {
    width: 5%;
    border-radius: 20px;
  }

  .about {
    width: 5%;
  }

  .avatar-img {
    width: 30%;
    border-radius: 90px;
  }

  .search-results {
    font-family: 'Orbitron', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }

  .left-container {
    flex: 2;
    padding: 10px;
  }

  .middle-container {
    flex: 4;
    padding: 10px;
  }

  .right-container {
    flex: 1;
    padding: 10px;
  }